body{
  background-color:#ffdae3;
}

p.double{
  border-style : double;
  border :none;
  background-color: #ffc7d6;
  border-radius:10px;
  color: white;
  text-align:center;
}
.mi-boton {
  background-color: #ffb4c8; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 15px 32px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  font-size: 25px; /* Tamaño de fuente */
  border: none; /* Sin bordes */
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a un puntero */
}

.mi-boton:hover {
  background-color: pink; /* Color de fondo cuando el botón es presionado */
}
h1{
  color: whitesmoke;
  text-align: center ;
  border-style:double;
  border-radius: 8px;
  background-color:#ffc7d6 ;
  border:none;
}